


body{
	background-color: grey;
}



.colunaEsquerda{
	width: 33%;
	height: 100%;
	display: inline-block;
}



.corpoFormulario{
	width: 400px;
	height: 450px;
	margin-top: 5%;
	background-color: white;
	display: inline-block;
}



.titulo{
	width: 100%;
	text-align: center;
	color:#D2691E;
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 50px;
}



.tituloCampo{
	width: 100%;
	display: block;
	color:#D2691E;
	font-weight: bolder;

	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}



.campoTexto{
	width: 97%;
	height: 30px;
	display: block;
	border-style: none;
	background-color: #DCDCDC;

	margin-right: 5px;
	margin-left: 5px;
}



.linhaDividida{
	width: 100px;
	display: inline-block;
}



.botaoFinalizar{
	width: 100px;
	color: white;
	background-color: #D2691E;
	font-weight: bolder;
	padding: 10px;
	border-style: none;
	display: inline-block;
	float: right;

	margin-top: 40px;
	margin-right: 20px;
}

