@charset "UTF-8";
/*estilo do formulario de cadastro*/

div#formulario{
    border: 1px black solid;
    display: flex;
    height: 300px;
}
form{
    border: black solid 1px;
    justify-content: center;
}
label{
    border: solid black 1px;
}