

required {
    !important;
}

a, h1, h2, h3, h4 {
    color: #000;
    font-family: courier,arial,helvetica;
}

    /*MENU PRINCPIPAL*/
    a:hover {
        background-color: #6495ED;
        border-style: inset;
        border-width: 2px;
        border-radius: 7px;
    }

#menuprincipal {
    height: 30%;
    width: 100%;
    float: left;
    background: #6495ED;
}

#menu {
    float: right;
    list-style-type: none text-decoration: none;
}

.menu {
    list-style-type: none text-decoration: none;
    margin-top: 40px;
    float: right;
    margin-right: 60px;
}

#carrinho {
    width: 40px;
    border-radius: 50%;
    cellspacing: 10px;
    margin-right: 5px;
}

#global2 {
    height: 50px;
    width: 100%;
    background: #00008B;
    float: right;
}

#divBusca {
    background: #DCDCDC;
    margin-left: 70%;
    margin-top: 1px;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    width: 300px;
    height: 32px;
}

#txtBusca {
    float: rigth;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: 1px;
    height: 32px;
    width: 191px;
}

#btnBusca {
    border: 1px;
    float: right;
    height: 100%;
    width: 70px;
    border-radius: 0 7px 7px 0;
    font-weight: bold;
    background: #6495ED;
}

    #btnBusca:hover {
        background-color: #6495ED;
        border-style: inset;
        border-width: 3px;
        border-radius: 7px;
    }

#global {
    height: 30%;
    width: 100%;
    float: left;
    background: #6495ED;
}

#logo {
    height: 100%;
    width: 20%;
    float: left;
}

.logo {
    height: 60%;
    width: 100%;
    float: left;
}


#login {
    border-radius: 0 7px 7px 0;
    font-weight: bold;
}

#imglogin {
    list-style-type: none height: 40px;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    border-radius: 50%;
    cellspacing: 10px;
    margin-right: 2px;
}

#login1 {
    margin-left: 3%;
    height: 10%;
    width: 20%;
}
/**PG COMPRAS*/
#titulocat {
    width: 100%;
    color: #00008B;
    height: 70px;
}
/*CATEGORIA INFANTIL*/

#GlobalLivro {
    height: 80%;
    width: 100%;
    margin-right: 1cm;
    margin-left: 0,5cm;
}
.livro {
    height: 350px;
    width: 23%;
    float: left;
    margin-right: 1cm;
    margin-left: 2cm;
    margin-top: 3cm;
    border-radius: 7px;
    background: #191970;
}
    .livro:hover {
        background-color: #87CEFA;
        height: 350px;
        width: 23%;
        float: left;
        margin-right: 1cm;
        margin-left: 2cm;
        margin-top: 3cm;
        border-radius: 7px;
    }

.imgFrontal {
    border: solid;
    height: 80%;
    width: 90%;
    margin-right: 1cm;
    margin-left: 13px;
    margin-top: 0,2cm;
    border-radius: 7px;
    background: #4682B4;
}
.imginterna {
    background: #1E90FF;
    margin-top: 0px;
    height: 100px;
    width: 100%;
    margin-left: 0px;
    border-radius: 7px;
}


.comprar , .saibamais {
    border: 2px solid;
    height: 30px;
    width: 100px;
    border-color: #5F9EA0;
    background: #5F9EA0;
    border-radius: 3px;
    margin-left: 5%;
}
 .comprar:hover , .saibamais:hover {
        background-color: #32CD32;
        height: 32px;
        width: 110px;
        border-style: inset;
        border-width: 3px;
        border-radius: 7px;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* DIV OCULTA */
.modal {
  
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 800px; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
   
}


.modal-content {
    height: 400px;
    width: 50%;
    float: left;
    margin: auto;
    background: #87CEFA;
}


/*Formatação da div oculta*/

p{
    font-family: Verdana sans-serif;
    font-size: 13px;
    
}

/*Imagem da Div oculta*/
.imgoculta {
    background: #1E90FF;
    margin-top: 0px;
    height: 350px;
    width: 300px;
    margin-left: 16px;
    border-radius: 7px;
}
/*Botão Div oculta*/
.comprarOculto, .saibamais {
    border: 2px solid;
    height: 30px;
    width: 100px;
    border-color: #5F9EA0;
    background: #5F9EA0;
    border-radius: 3px;
}

    .comprarOculto:hover, .saibamais:hover {
        background-color: #32CD32;
        height: 32px;
        width: 110px;
        border-style: inset;
        border-width: 3px;
        border-radius: 7px;
    }
/*Informacoes da DIV OCULTA*/

.informacoes {
    margin-left: 16px;
}
#inforA {
    height: 380px;
    width: 350px;
    border-color: #5F9EA0;
}
#inforB {
    height: 100%;
    width: 100%;
    border-color: #5F9EA0;
}
#imgOculta {
    height: 100px;
    width: 300px;
    border-color: #5F9EA0;
}
#imgOculta {
    height: 100px;
    width: 300px;
    border-color: #5F9EA0;
    margin-left: 1cm;
    margin:auto;
    margin-top: 20px;
}